# Esempio di file Secrets per Streamlit.
# 1) Copia questo file in  .streamlit/secrets.toml
# 2) Sostituisci il valore con la tua password reale
# 3) NON caricare secrets.toml su GitHub (è già in .gitignore)
password = "la-tua-password"
